@tailwind base;
@tailwind components;
@tailwind utilities;

.background-transition {
  transition:
    background-color 0.5s ease,
    background-image 0.5s ease;
}

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  font-family: var(--font-sans), sans-serif;
}

code,
pre {
  font-family: var(--font-mono), monospace;
}

@layer components {
  .hover-underline {
    position: relative;
    display: inline-block;
  }
  .hover-underline::before {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #4c1d95;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .hover-underline:hover::before {
    visibility: visible;
    width: 100%;
  }
}
